/* ----------------------------------------------------Navigation bar styling */

#menuitem-style {
    font-family: "Montserrat", sans-serif;
    
}


.navbar {
    background-color: #556B2F;
}

.our-story .menus .reservations .find-us {
    float: right;
}

.menu-navbar-align {
    text-align: center;
}

#logo {
    color: #556B2F;
    text-transform: uppercase;
   
}

.navbar-custom {
    color: #556B2F;
}

/* ----------------------------------------------------taken from: Beyond Bootstap - Updating Callout */
#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/background-image.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ------------------------------------------------------Our story styling */

.our-story-container {
    padding-top: 120px;
    padding-bottom: 30px;
    
}

#our-story-heading {
    font-family: "Montserrat", sans-serif;
    color: #556B2F;
}

#our-story-content {
    font-family: "Playfair Display", sans-serif;
}



/* ------------------------------------------------------ What are Customer's say */


#testimonials {
    color: #556B2F;
    padding-bottom:10px;
    font-family: "Montserrat", sans-serif;

}

.customer-reviews {
    font-family: "Playfair Display", sans-serif;
}

.review-section {
    padding-top: 20px;
    overflow: auto;
}

/* ------------------------------------------------------Footer */

footer {
    background-color: #fafafa;
    min-height: 10px;
    margin: 0;
    padding: 20px;
    color: #556B2F;
    text-align: center;
    overflow: auto;
    
}

#name-field, #email-field {
    margin: 5px;
    width: 60%;
    font-family: "Playfair Display", sans-serif;
    
}

#email-field {
    margin-left: 8px;
}

#signup-button {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fafafa;
    border-radius: 6px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    background-color: #556B2F;
    text-decoration: none;
    cursor: pointer;
}

#signup-button:hover {
    opacity: 5
}

#footer-heading {
    font-family: "Montserrat", sans-serif;
}

#namefield {
    font-family: "Playfair Display", sans-serif;
}

#emailfield {
    font-family: "Playfair Display", sans-serif;
}

#openinghours {
    font-family: "Playfair Display",sans-serif;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0 10px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #556B2F;
}

/* ------------------------------------------------------Margins, Padding, Text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.general-sub {
    color:#556B2F;
    font-family: "Montserrat", sans-serif;
    
}




/* ------------------------------------------------------Food & Drink Menu Page*/



#lunch-menu-image {
    background: url("../images/steak-tartare.jpg") no-repeat center center;
    
    height: 400px;
    width: 70%;
    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
   
}

#cover-content {
   
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    
    padding: 20px;
    text-align: center;
    z-index: 2;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#specials-menu-image {
    background: url("../images/fish-market.jpg") no-repeat center center;

    height: 400px;
    width: 70%;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}


#drink-menu-image {
    background: url("../images/cocktail.jpg") no-repeat center center;
    
        height: 400px;
        width: 70%;
    
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;

        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
}


#evening-menu-image {
    background: url("../images/ribeye-steak.jpg") no-repeat center center;

    height: 400px;
    width: 70%;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.image-positioning {
    position: relative;
    width: 300px;
    height: 400px;
    padding: 40px;
    
}


.outer-image-diplay {
padding-bottom: 100px;
padding-top: 180px;
}