/* ----------------------------------------------------Navigation bar styling */

#menuitem-style {
    font-family: "Montserrat", sans-serif;
    
}


.navbar {
    background-color: #556B2F;
}

.our-story .menus .reservations .find-us {
    float: right;
}

.menu-navbar-align {
    text-align: center;
}

#logo {
    color: #556B2F;
    text-transform: uppercase;
   
}

.navbar-custom {
    color: #556B2F;
}

/* ----------------------------------------------------taken from: Beyond Bootstap - Updating Callout */
#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/background-image.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ------------------------------------------------------Our story styling */

.our-story-container {
    padding-top: 100px;
    
}

#our-story-heading {
    font-family: "Montserrat", sans-serif;
    color: #556B2F;
}

#our-story-content {
    font-family: "Playfair Display", sans-serif;
}



/* ------------------------------------------------------ What are Customer's say */


#testimonials {
    color: #556B2F;
    padding-bottom:10px;
    font-family: "Montserrat", sans-serif;

}

.customer-reviews {
    font-family: "Playfair Display", sans-serif;
}

.review-section {
    padding-top: 20px;
    overflow: auto;
}

/* ------------------------------------------------------Footer */

footer {
    background-color: #fafafa;
    min-height: 120px;
    margin: 0;
    padding: 20px;
    color: #556B2F;
    text-align: center;
    overflow: auto;
    
}

#name-field, #email-field {
    margin: 5px;
    width: 60%;
    font-family: "Playfair Display", sans-serif;
    
}

#email-field {
    margin-left: 8px;
}

#signup-button {
    padding: 5px 0 10px 0;
    margin: 15px 15px 15px 50px;
    color: #fafafa;
    border-radius: 6px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    background-color: #556B2F;
    text-decoration: none;
    cursor: pointer;
}

#signup-button:hover {
    opacity: 5
}

#footer-heading {
    font-family: "Montserrat", sans-serif;
}

#namefield {
    font-family: "Playfair Display", sans-serif;
}

#emailfield {
    font-family: "Playfair Display", sans-serif;
}

#openinghours {
    font-family: "Playfair Display",sans-serif;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0 10px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #556B2F;
}

/* ------------------------------------------------------Margins, Padding, Text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.general-sub {
    color:#556B2F;
    font-family: "Montserrat", sans-serif;
    
}

#index-padding-bottom {
    padding-bottom: 250px;
}


/* ------------------------------------------------------Food & Drink Menu Page*/

#food-menu-image {
    background: url("../images/steak-tartare.jpg") no-repeat center center;
    height: 400px;
    width: 70%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 80px;
    margin-left: 20px;
    
}

#drink-menu-image {
    background: url("../images/cocktail.jpg") no-repeat center center;
    height: 400px;
    width: 70%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 80px;
    margin-left: 20px;
}

.menu-image-layout {
    padding-left: 10%;
    padding-top: 10px;
}